html,
body {
    height: 100%;
    background-color: #222d32 !important;
}

.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
}

.login-form{
    width: 700px;
    height: 850px;
    padding:70px;
    background-color: #fff !important;
    border-radius: 10px !important;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    background: white;
    color: #fff;
    border: 2px solid lightblue;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 10;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
    outline: none;
    border: none;
    background: white;
    color: #fff;
    margin: 0;
}

.card-title{
    font-weight: 900;
    padding-top: 20px;
}

.btn{
    background: lightblue !important;
    color: #000 !important;
    transform: translate(10px);
    font-size: 14px;
    border-radius: 10px !important;
    margin-bottom: 10px;
}
